https://github.com/aio-libs/aiohttp/archive/refs/tags/v3.8.1.zip
anytree
https://github.com/pawamoy/aria2p/archive/78267c733ac7644d4dc87587cb195789891bd016.zip
appdirs
beautifulsoup4
cloudscrape
cfscrape
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
js2py
lk21
lxml
messages
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
pytz
requests
yt-dlp
telegraph
tenacity
TgCrypto
https://github.com/idlesign/torrentool/archive/refs/tags/v1.1.0.zip
urllib3
pyshorteners
bs4
natsort
Pillow
